%h1.title Show AC

%input#id{:type => "hidden", :value => @id}


.container
 %div#container

%p= link_to 'Back to users list', users_path

%table#table
 %thead
  %tr
   %th User_id
   %th Timestamps
   %th Count
 %tbody
  - @activity_counts.each do |ac|
   %tr
    %td= ac.user_id
    %td= ac.time
    %td= ac.count

%p= show_flash


= javascript_include_tag 'http://code.highcharts.com/stock/highstock.js'
= javascript_include_tag 'http://code.highcharts.com/stock/modules/exporting.js'



