%h1.title Upload File Json


= form_tag users_uploadAC_path, :method => :post, :enctype=>"multipart/form-data" do
 = file_field_tag :file
 = submit_tag 'Upload'

-if !@file.nil?
 %table#table
  %thead
   %tr
    %th User_id
    %th Timestamps
    %th Count
  %tbody
   - @activity_counts.each do |ac|
    %tr
     %td= ac.user_id
     %td= ac.time
     %td= ac.count

%p= show_flash

%p= link_to 'Back to users list', users_path


